*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background-image: url("../public/image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.header-text{
    max-width: 350px;
    text-align: justify;
    margin-top: 100px;
}
h1{
    font-size: 34px;
}
.square{
    width: 12px;
    height: 12px;
    background: #f67c92;
    display: inline-block;
    margin: 15px 0px;
}
p{
    font-size: 15px;
    color: #777;
    line-height: 20px;
}
.conform_btn{
    padding: 15px 40px;
    background-color: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.line_1{
    width: 15px;
    height: 15px;
    background-color: #f67c92;
    display: inline-block;
}
.line_2{
    width:80px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}
.line_3{
    width: 60px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
#sidenav{
    width: 250px;
    height: 100vh;
    background-color: #f67c92;
    position: fixed;
    right: -250px;
    top: 0px;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 15px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
#menulogo{
    width: 45px;
    z-index: 2;
    position: fixed;
    right: 65px;
    top: 35px;
    cursor: pointer;
}

/* about  */

#about,#offer{
    padding: 100px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about_col_left{
    flex-basis: 50%;
}
.about_col_left img{
    width: 100%;
}
.about_col_right{
    flex-basis: 50%;
    text-align: right;
}
.about_text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about_text h2{
    font-size: 28px;
    margin: 5px 0px 12px;
    font-style: italic;
}
.about_text h3{
    font-size: 20px;
    font-style: italic;
    color: #777;
}

/* Fetures */

#fetures{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feture_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.feture_col{
    flex-basis: 25%;
    text-align: center;
}
.feture_col img{
    width: 100px;
}
.feture_col h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}
.feture_btn{
    margin: 80px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feture_btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

/* courcess */

#cources{
    padding: 100px 0px;
}
.cources_row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cources_col_right{
    flex-basis: 50%;
}
.cources_col_right img{
    width: 100%;
}
.cources_col_left{
    flex-basis: 50%;
}
.cources_text{
    max-width: 350px;
}

/* offers */
/* ------------Empty Styling */

/* Contact */
.contact_row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact_left_col,.contact_right_col{
    flex-basis: 50%;
}
.contact_right_col img{
    width: 100%;
}
form{
    max-width: 350px;
    margin: 30px 0px;
}
form input{
    width:100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    border: 2px solid #f67c92;
    box-sizing: border-box;
    box-shadow: none;
}
.btn_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn_box button{
    flex-basis: 48%;
    padding: 18px 0px;
}

/* footer */

#footer{
    padding: 50px 0px 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}
.footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer_left_col{
    flex-basis: 50%;
    margin-top: 50px;
}
.footer_right_col{
    flex-basis: 35%;
}
.footer_link{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.link_title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.link_title small{
    font-size: 13px;
    color: #777;
}
.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}
.footer_logo img{
    width: 100px;
}
.footer_logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}

/* social icons */

.social_icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 1;
}
.social_icons img{
    width: 20px;
    display:block;
    margin: 0px auto 20px;
    cursor: pointer;
}

/* media query for responsive website */

@media only screen and (max-width:770px){
    #header{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 25px;
        width: 60px;
    }
    .header-text{
        /* max-width: 350px; */
        text-align: justify;
        margin-top: 100px;
    }
    h1{
        font-size: 25px;
    }
    #menulogo{
        width: 30px;
        right: 50x;
    }
    .conform_btn{
        padding: 15px 20px;
    }
    .social_icons img{
        width: 14px;
        margin: 15px auto;
    }
    .about_col_left,.about_col_right{
        flex-basis: 100%;
    }
    .about_text{
        margin: 50px 50px 0px;
        display: inline-block;
    }
    .about_text h2{
        font-size: 18px;
    }
    .feture_col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .cources_col_left{
        flex-basis: 100%;
    }
    .cources_col_right{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contact_left_col{
        flex-basis: 100%;
    }
    .contact_right_col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .footer_right_col,.footer_left_col{
        flex-basis: 100%;
    }
    .link_title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}